.social__panel{
    background-color: var(--color-bg);
    width: 30rem;
    height: 15rem;
    border-radius: 2rem;
    position: fixed;
    bottom: 12rem;
    z-index: 99999999;
    padding: 1rem;
    right: 2rem;
    border: .5rem solid var(--social-secondary-color);
    -webkit-box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, .3);
            box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, .3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    /*transform: translate(40rem);*/
    /*transform: translate(-0.5rem);*/
    transform-origin: 0 0;
    -webkit-animation-name: fade-in;
            animation-name: fade-in;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    overflow-x: hidden;
    .top{
        background-color: var(--social-secondary-color);
        width: 20rem;
        font-size: 1.2rem;
        margin-top: -1.2rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        text-align: center;
        padding: .2rem;
        color: var(--white-color);
        padding: .3rem;
        font-weight: 700;
        h3{
            font-weight: 400; font-size: 1.5rem;
            .author{color: var(--yellow); font-weight: 700;}
        }
    }
    .t2{
        color: var(--social-tertiary-color);
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    .social__panel--item{
        margin-top: 1.1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        a{
            text-decoration: none;
            margin: 0 1rem;
            font-size: 1.5rem;
            cursor: pointer;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            padding: 1rem;
            border-radius: 100%;
            border: .1rem solid var(--social-tertiary-color);
            -webkit-transition: all .2s;
            -o-transition: all .2s;
            transition: all .2s;
            i{
                color: var(--social-secondary-color);
            }
            &:hover{
                border-color: var(--yellow);
                -webkit-box-shadow: 0 0 7rem rgba(0, 0, 0, .2);
                box-shadow: 0 0 7rem rgba(0, 0, 0, .2);
            }
        }
    }
    .close-panel{
        font-size: 2.5rem;
        font-weight: 800;
        color: var( --social-tertiary-color);
        top: -.2rem;
        left: 92%;
        border-top-right-radius: 1rem;
        position: absolute;
        cursor: pointer;
        height: 2rem;
        -webkit-transition: background-color .3s ease-in-out;
        -o-transition: background-color .3s ease-in-out;
        transition: background-color .3s ease-in-out;
        &:hover{
            color: var(--social-secondary-color);
        }
    }

}

.btn-social{
    padding: 1.5rem 2rem;
    border-radius: 2.5rem;
    border: none;
    color: var(--white-color);
    background-color: var(--social-primary-color);
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    z-index: 99999;
    font-weight: 600;
    -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, .35);
            box-shadow: 0 0 3rem rgba(0, 0, 0, .35);
    cursor: pointer;
    border: .2rem solid var(--social-primary-color);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    outline: none;

    &:hover{
        background-color: var(--color-bg);
        border: .2rem solid var(--social-secondary-color);
        color: var(--social-secondary-color);
    }
}

.social__panel.on{
    -webkit-animation-name: fade-out;
            animation-name: fade-out;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}